<div class="sidenav">
  <a href="/">s</a>
  <a href="/gallery">c</a>
  <a href="/gallery">r</a>
  <a href="/gallery">a</a>
  <a href="/gallery">p</a>
  <a href="/gallery">b</a>
  <a href="/gallery">o</a>
  <a href="/gallery">o</a>
  <a href="/gallery">k</a>
</div>
