<div class="sidenav">
  <a href="/">s</a>
  <a href="/">c</a>
  <a href="/">r</a>
  <a href="/">a</a>
  <a href="/">p</a>
  <a href="/">b</a>
  <a href="/">o</a>
  <a href="/">o</a>
  <a href="/">k</a>
</div>
