<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>multer Demo - Confirmation</title>
</head>
<body>
  <h1> Congrats! Your photo upload worked: </h1>
  <img src='<%=photoLocation%>' width='50%'>
</body>
</html>
