<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Drive Image Upload Demo - Confirmation</title>
</head>
<body>
  <h1> Congrats! Your Drive photo upload worked: </h1>
  <%for(let i =0; i<photoLocations.length; i++){%>
    <img src="<%=photoLocations[i]%>" width='200'><br>
    <a href="<%=photoLocations[i]%>"><%=photoLocations[i]%></a><br>
  <%}%>
</body>
</html>
