<%- include('partials/header', {title:"Index"}) -%>

  <div class= main>
    <h2> edit page </h2>
    <div class= leftpage>
      <h3> scrapBookTitle (make dynamic later) </h3>
    </div>
    <div class= rightpage> </div>

  </div>

  <br>
<%- include('partials/toolbox') -%>
<%- include('partials/footer') -%>
