<%- include('partials/header', {title:"Index"}) -%>

  <div class= main>
    <h2> edit page </h2>
    <div class= leftpage> </div>
    <div class= rightpage> </div>

  </div>

<%- include('partials/toolbox') -%>
<br>
<%- include('partials/footer') -%>
