<%- include('partials/header', {title:"Index"}) -%>

  <div class=main>
    <h2> scrapbook </h2>

    <% if (request.user){ %>
      <div id = "createNewScrapbook">
      <form action="/createScrapbook" method="POST">
        <label for="scrapbookName">Name:</label>
        <input type="text" id="scrapbookName" name="scrapbookName" value=""><br>
      <input type="submit" value="Create a new scrapbook!">
      </form>
      </div>
    <% } else { %>
      <a href="/auth/google">LOG IN WITH GOOGLE</a>
    <% } %>

  </div>

<%- include('partials/footer') -%>
