<%- include('partials/header', {title:"Index"}) -%>

<head>
  <link rel="stylesheet" href="../public/css/style.css">
  <style>
    .main {
      margin-left: 6%;
      font-size: 160px;
    }
  </style>
</head>

<body>
  <div class=main>
    <h2> scrapbook </h2>
  </div>
</body>
