<%- include('partials/header', {title:"Index"}) -%>

  <div class=main>

    <h2> scrapbook </h2>
    <form action="/upload/photo" enctype="multipart/form-data" method="POST" class="button">
      <input type="file" name="picture" accept="image/*" required/>
      <br>
      <input type="submit" value="Upload Photo" />
    </form>

  </div>

<%- include('partials/footer') -%>
