/* navbar */
.sidenav {
  height: 100%;
  width: 5%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #14162f;
  overflow-x: hidden;
  padding-top: 1%;
  font-family: 'Bold Outfit';
}
.sidenav a {
  padding: 1% 1% 1% 35%;
  text-decoration: none;
  color: #c6b7a4;
  display: block;
  font-size: 1.5em;

}
.sidenav a:hover {
  color: #f1f1f1;
}

/*main*/
.main {
  margin-left: 5%;
  font-size: 160px;
  font-family:'Outfit';
}

/*edit page*/
.leftpage {
     width: 47.25%;
     margin-left: 2.5%;
     height: 650px;
     border: 2.5px solid black;
     float:left;

}
.rightpage {
     width: 47.25%;
     margin-right: 2.5%;
     height: 650px;
     border: 2.5px solid black;
     float:left;
}

/*toolbox*/
.toolbox  {
  width: 90%;
  z-index: 1;
  height: 70px;
  top: 740px;
  margin-left: 2.5%;
  background-color: #111;
  transition: 0.5s;
  position: fixed;
  border: 2.5px solid black;
}

/*
.toolbox a {
  width: 100%;
  top: 50px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: inline;
  transition: .0020s;
}*/

/*fonts*/
@font-face {
    font-family: 'Outfit';
    src: url('Outfit-Regular.ttf');
}

@font-face {
    font-family: 'Bold Outfit';
    src: url('Outfit-Bold.ttf');
}
